.blog-post {
  margin-top: var(--spacing-6);
}

.blog-post__dare-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.blog-post__dare-wrapper > span {
  margin-bottom: 0;
}

.blog-post__headline {
  margin: 0;
}

.blog-post__header {
  text-align: center;
}

.blog-post header h1 {
  margin-bottom: 0px;
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-4);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.placeholder {
  min-width: 1px;
}

.blog-post__read-more {
  margin: var(--spacing-6) 0px;
}

.blog-post__read-more h3 {
  margin: 0;
  text-align: center;
}
